<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        <%- htmlWebpackPlugin.options.metadata.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body aurelia-app="main">
    <div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function () {
            VK.init({
                apiId: 6324425
            });
        };

        setTimeout(function () {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "https://vk.com/js/api/openapi.js?151";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    </script>
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
